.primary-btn {
  padding: 12px 24px;
  border-radius: var(--Border-Radius);
  color: white;
  background: var(--Marine-blue);
  transition: var(--Transition);
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  &:hover {
    opacity: 0.9;
  }
}

.secondary-btn {
  @extend .primary-btn;
  background: none;
  color: var(--Cool-gray);
  &:hover {
    color: var(--Marine-blue);
    opacity: 1;
  }
}

.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  height: 35px;
  border-radius: 100px;
  width: 35px;
  background: none;
  color: white;
  border: 2px solid white;
  transition: var(--Transition);
  font-weight: 700;
}

input {
  font-family: "Ubuntu", sans-serif;
  padding: 11px 13px;
  width: 100%;
  font-weight: 700;
  border-radius: var(--Border-Radius);
  color: var(--Marine-blue);
  background: none;
  border: 2px solid var(--Cool-gray);
  transition: var(--Transition);
  &:focus {
    border: 2px solid var(--Marine-blue);
  }
}

label {
  color: var(--Marine-blue);
}

h1 {
  color: var(--Marine-blue);
  font-size: 24px;
}

h3 {
  color: var(--Cool-gray);
  font-weight: 400;
  font-size: 16px;
}

// Switch input
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: var(--Marine-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--Marine-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
